@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
font-family: 'Poppins', sans-serif;

}

#main{
    display: grid;
    margin-inline: auto;
    height: 100vh;
    max-width: 400px;
    max-height: 600px;
    border: 3px solid lightblue;
    border-radius: 16px;
    background-color: rgb(55, 55, 221);
}

#overview{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    flex-direction: column;
    height: 500px;
    border-radius: 16px;
    justify-content: space-around;
    align-items: flex-end;
}
#menu-bar{
    display: flex;
    border-radius: 16px;
    justify-content: space-around ;
    align-items: center;
    background-color: rgb(80, 80, 255);

}
#add{
    padding: 4px 16px;
    margin: auto;
font-size: 32px;
position: absolute;
bottom: 45%;
right: 42%;
border-radius: 32px;
background-color: rgb(115, 115, 253);
border: none;}

#Workouts{
    border-radius: 16px;
    background-color: rgb(127, 127, 255);
    border: none;
    size: 32px;
}
#History{
    border-radius: 16px;
    background-color: rgb(127, 127, 255);
    border: none;
}

#History:hover{
    background-color: rgb(72, 72, 156);
   cursor: pointer;
}
#Workouts:hover{
    background-color: rgb(72, 72, 156);
    cursor: pointer;
   
}
#add:hover{
    background-color: rgb(72, 72, 156);
    cursor: pointer;
}
